body {
    padding: 0;
    margin: 0;
    min-height: 100vh;
    max-height: fit-content;
    background-image: linear-gradient(to top left, #A100FF, #119CFD);
    background-repeat: no-repeat;
}
a{
    color: white;
    text-decoration: none;
}
.courseModel {
    background-color: white;
    color: black;
    border-radius: 5px;
    margin-bottom: 25px;
    padding: 15px;
    .top {
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-bottom: 2px solid lightgray;
        h1 {
            display: flex;
            flex-direction: row;
            align-items: center;
            font-size: 22px;
            span {
                padding-right: 10px;
            }
            .circle {
                font-size: 10px;
                opacity: 50%;
            }
            #tuition {
                font-size: 20px;
            }
        }
    }
    .middle {
        font-size: 20px;
        width: 80%;
        border-bottom: 1px solid lightgray;
    }
    .bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 15px;
        .removeClass button, .addClass button {
            background-color: rgb(255, 104, 104);
            font-size: 20px;
            border: none;
            padding: 15px;
            border-radius: 15px;
            svg {
                transform: scale(1.5);
            }
        }
        .removeClass button:hover, .addClass button:hover {
            cursor: pointer;
            background-color: rgb(255, 62, 62);
            transition: .2s;
        }
        .addClass button {
            background-color:#119CFD;
        }
        .addClass button:hover {
            background-color:#A100FF;
        }
    }
}
.loginOverall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: #fff;
    .loginContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 10px;
        padding: 0px 75px 25px 75px;
        background-color: #171717;
        .loginHeader {
            font-size: 25px;
        }
        .credentials {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            input, label, button {
                padding: 10px;
                font-size: 20px;
                border-radius: 10px;
                border:none;
                width: 120%;
            }
            input {
                background-color: #484848;
                opacity: 80%;
                outline: none;
                color: white;
            }
            a {
                button{
                    margin-top: 40px;
                    background-color: #119CFD;
                }
                button:hover {
                    background-color: #A100FF;
                    transition: .3s;
                    cursor: pointer;
                }
            }           
        }
        .signUp {
            padding: 10px;
            font-size: 20px; 
            text-align: center;
            a{
                text-decoration: underline;
                color:#119CFD;
                cursor: pointer;
            } 
            a:hover {
                color:#A100FF;
            }
        }
    }
}
.signOverall {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    color: #fff;
    .signContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        border-radius: 10px;
        padding: 0px 20px 25px 20px;
        background-color: #171717;
        .signHeader {
            font-size: 25px;
        }
        #information{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            .credentials, .credentials2 {
                display: flex;
                flex-direction: column;
                justify-content: center;                
                align-items: center;
                padding: 0px 100px 0px 100px;
                input, label, button {
                    padding: 10px;
                    font-size: 20px;
                    border-radius: 10px;
                    border:none;
                    width: 160%;
                }
                input {
                    background-color: #484848;
                    opacity: 80%;
                    outline: none;
                    color: white;
                }
                button {
                    margin-top: 40px;
                    background-color: #119CFD;
                    cursor: pointer;
                }
                button:hover {
                    background-color: #A100FF;
                    transition: .3s;
                }
            }
        }
        .credentials2 {
            border-right: 1px solid lightgray;
            padding: 150px;
        }
        .signUp {
            padding: 10px;
            font-size: 20px;  
            a {
                text-decoration: underline;
                color:#119CFD;
                cursor: pointer;
            }
            a:hover {
                color:#A100FF;
            }
        }
    }
}
#coursesOverall {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff;
    #topBar {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        h3 {
            font-size: 25px;
        }
        a:hover {
            cursor: pointer;
            text-decoration: underline;
            opacity: 50%;
        }
    }
    #coursesContainer {
        background-color:#171717;
        padding: 50px;
        margin-bottom: 30px;
        border-radius: 15px;
        #searchBar {
            display: flex;
            flex-direction: column;
            padding: 10px 0px 10px 0px;
            font-size: 20px;
            label{
                font-size: 20px;
                padding-bottom: 15px;
            }
            input {
                padding: 12px;
                border-radius: 10px;
                border:none;
                outline: none;
                font-size: 20px;
                background-color: #484848;
                color: white;
            }
        }
        #courseLocation {
            padding: 10px;
            margin-top: 10px;
            #myCourseHeader{
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
                button {
                    font-size: 20px;
                    height: 45px;
                    padding: 10px;
                    border-radius: 15px;
                    border: none;
                    background-color: #119CFD;
                    cursor: pointer;
                }
                button:hover {
                    background-color: #A100FF;
                    transition: .3s;
                }
            }
        }
    }
}
#studentHomeOverall {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff; 
    #topBar {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        h3 {
            font-size: 25px;
        }
        a:hover {
            cursor: pointer;
            text-decoration: underline;
            opacity: 50%;
        }
    }
    #studentMain {
        background-color:#171717;
        padding: 50px;
        margin-bottom: 30px;
        border-radius: 15px;
        #studentInfo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 40px;
            #info1, #info2 {
                display: flex;
                flex-direction: column;
                justify-content: center;                
                align-items: center;
                padding: 0px 100px 0px 100px;
                input, label {
                    padding: 10px;
                    font-size: 20px;
                    border-radius: 10px;
                    border:none;
                    width: 160%;
                }
                input {
                    background-color: #484848;
                    opacity: 80%;
                    outline: none;
                    color: white;
                }
            }
        }
        #studentCourses {
            margin-bottom: 50px;
            #header{
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 25px;
                button {
                    font-size: 20px;
                    padding: 10px;
                    border-radius: 15px;
                    border: none;
                    background-color: #119CFD;
                    cursor: pointer;
                }
                button:hover {
                    background-color: #A100FF;
                    transition: .3s;
                }
            }
        }
        #studentCreditHours {
            margin-bottom: 50px;
        }
    }
}
#adminOverall {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    color: #fff; 
    #topBar {
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        width: 100%;
        h3 {
            font-size: 25px;
        }
        a:hover {
            cursor: pointer;
            text-decoration: underline;
            opacity: 50%;
        
        }
    }
    #adminMain {
        background-color:#171717;
        padding: 50px;
        margin-bottom: 30px;
        border-radius: 15px;
        #adminInfoHeader {
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                font-size: 20px;
                padding: 10px;
                border-radius: 15px;
                border: none;
                background-color: #119CFD;
                cursor: pointer;
            }
            button:hover {
                background-color: #A100FF;
                transition: .3s;
            }
        }
        #adminInfo, #studentInfo {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            margin-bottom: 40px;
            padding-bottom: 50px;
            border-bottom: 3px solid lightgray;
            #info1, #info2 {
                display: flex;
                flex-direction: column;
                justify-content: center;                
                align-items: center;
                padding: 0px 100px 0px 100px;
                input, label {
                    padding: 10px;
                    font-size: 20px;
                    border-radius: 10px;
                    border:none;
                    width: 160%;
                }
                input {
                    background-color: #484848;
                    opacity: 80%;
                    outline: none;
                    color: white;
                }
            }
        }
        #searchBar {
            display: flex;
            flex-direction: column;
            padding: 10px 0px 10px 0px;
            font-size: 20px;
            label{
                font-size: 20px;
                padding-bottom: 15px;
            }
            input {
                padding: 12px;
                border-radius: 10px;
                border:none;
                outline: none;
                font-size: 20px;
                background-color: #484848;
                color: white;
            }
        }
        #studentInfoLocation {
            #studentInfoHeader{
                display: flex;
                justify-content: space-between;
                align-items: center;
                button {
                    font-size: 20px;
                    padding: 10px;
                    border-radius: 15px;
                    border: none;
                    background-color: #119CFD;
                    cursor: pointer;
                }
                button:hover {
                    background-color: #A100FF;
                    transition: .3s;
                }
            }
            #studentInfo {
                border: none;
                padding-bottom: 0;
            }
        }
        #studentScheduleHeader{
            display: flex;
            justify-content: space-between;
            align-items: center;
            button {
                font-size: 20px;
                padding: 10px;
                border-radius: 15px;
                border: none;
                background-color: #119CFD;
                cursor: pointer;
            }
            button:hover {
                background-color: #A100FF;
                transition: .3s;
            }
        }
        #studentScheduleLocation {
            border-bottom: 3px solid lightgray;
            margin-bottom: 40px;
            padding-bottom: 20px;
        }
    }
}
.tab-list {
    border-bottom: 3px solid #ccc;
    padding-left: 0;
    padding-bottom: 1px;
    font-size: 18px;
}
.tab-list-item {
    display: inline-block;
    list-style: none;
    margin-bottom: -1px;
    padding: 0.5rem 0.75rem;
    cursor:pointer;
}
.tab-list-item:hover {
   opacity: 80%;
}
.tab-list-active {
    background-color: #119CFD;
    color: black;
    border-width: 1px 1px 0 1px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-size: 20px;
}

@media (max-width: 425px) {
    .courseModel {
        .top {
            flex-direction: column;
            h1 {
                font-size: 19px;
                .circle {
                    font-size: 8px;
                }
                #tuition {
                    font-size: 18px;
                }
            }
        }
        .middle {
            font-size: 17px;
            width: 100%;
        }
        .bottom {
            font-size: 13px;
            align-items: baseline;
            .class-number, .maximum-capacity, .credit-hours {
                padding: 0px 20px 0px 20px;
                font-size: 11px;
            }
            .removeClass button, .addClass button {
                padding:10px;
                font-size: 13px;
            }
        }
    }
    .loginOverall {
        .loginContainer {
            height: 100vh;
            border-radius: 0px;
            .loginHeader {
                font-size: 25px;
            }
            .signUp {
                text-align: center;
            }
        }
    }
    .signOverall {
        height: 100%;
        width: 100%;
        .signContainer {
            height: auto;
            overflow: scroll;
            border-radius: 0px;
            .signHeader {
                font-size: 25px;
            }
            #information{
                flex-direction: column-reverse;
            }
            .signUp {
                text-align: center;
            }
        }
    }
    #coursesOverall {
        width: 75vh;
        #coursesContainer {
            padding: 50px 0px 50x 0px;
            #courseLocation {
                padding: 10px;
                margin-top: 10px;
                margin-left: 0px;
                margin-right: 0px;
                #myCourseHeader{
                    font-size: 13px;
                    button {
                        font-size: 15px;
                        height: 35px;
                    }
                }
                .courseModel {
                    .top {
                        flex-direction: column;
                        h1 {
                            font-size: 19px;
                            .circle {
                                font-size: 8px;
                            }
                            #tuition {
                                font-size: 18px;
                            }
                        }
                    }
                    .middle {
                        font-size: 17px;
                        width: 100%;
                    }
                    .bottom {
                        font-size: 13px;
                        align-items: baseline;
                        .class-number, .maximum-capacity, .credit-hours {
                            padding: 0px 20px 0px 20px;
                            font-size: 11px;
                        }
                        .removeClass button, .addClass button {
                            padding:10px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
    #studentHomeOverall {
        #studentMain {
            width: 77%;
            h1{
                text-align: center;
            }
            #studentInfo {
                flex-direction: column;
                #info1, #info2 {
                    padding: 0px 50px 0px 50px;
                }
            }
            .courseModel {
                .top {
                    flex-direction: column;
                    h1 {
                        font-size: 19px;
                        .circle {
                            font-size: 8px;
                        }
                        #tuition {
                            font-size: 18px;
                        }
                    }
                }
                .middle {
                    font-size: 17px;
                    width: 100%;
                }
                .bottom {
                    font-size: 13px;
                    align-items: baseline;
                    .class-number, .maximum-capacity, .credit-hours {
                        padding: 0px 20px 0px 20px;
                        font-size: 11px;
                    }
                    .removeClass button, .addClass button {
                        padding:10px;
                        font-size: 13px;
                    }
                }
            }
        }
    }
    #adminOverall {
        #adminMain {
            width:77%;
            #adminInfoHeader {
                font-size: 15px;
                button {
                    font-size: 15px;
                }
            }
            #adminInfo, #studentInfo {
                flex-direction: column;
                #info1, #info2 {
                    padding: 0px 50px 0px 50px;
                }
            }
            #studentInfoLocation {
                #studentInfoHeader{
                    button {
                        font-size: 15px;
                    }
                }
            }
            #studentScheduleHeader{
                button {
                    font-size: 15px;
                }
            }
            #studentScheduleLocation {
                .courseModel {
                    .top {
                        flex-direction: column;
                        h1 {
                            font-size: 19px;
                            .circle {
                                font-size: 8px;
                            }
                            #tuition {
                                font-size: 18px;
                            }
                        }
                    }
                    .middle {
                        font-size: 17px;
                        width: 100%;
                    }
                    .bottom {
                        font-size: 13px;
                        align-items: baseline;
                        .class-number, .maximum-capacity, .credit-hours {
                            padding: 0px 20px 0px 20px;
                            font-size: 11px;
                        }
                        .removeClass button, .addClass button {
                            padding:10px;
                            font-size: 13px;
                        }
                    }
                }
            }
        }
    }
}